
@{
    ViewBag.Title = "addtocartnew";
    Layout = "~/Views/shared/webMasterPage.cshtml";
}


<!-- shopping-cart-area start -->
<div class="cart-main-area pt-60 pb-65">
    <div class="container">
        @{
            int amount = 0;
            int total = 0;

            <h3 class="page-title">Your cart items</h3>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                    <form action="#">
                        <div class="table-content table-responsive">
                            <table>
                                <thead>
                                    <tr>
                                        <th>Image</th>
                                        <th>Product Name</th>
                                        <th>Until Price</th>
                                        <th>Qty</th>
                                        <th>Subtotal</th>
                                        <th>Delete</th>
                                    </tr>
                                </thead>
                                <tbody>


                                    @foreach (var item in ViewBag.a)
                                    {
                                        var p = new Online_floral_delivery.Models.floral_deliveryEntities8().products.ToList();

                                        foreach (var pro in p)
                                        {
                                            if (item.c_id == pro.id)
                                            {
                                                amount = item.c_qty * Convert.ToInt32(pro.price);

                                                <tr>
                                                    <td class="product-thumbnail">
                                                        <a href="#"><img src="~/img/@Url.Content(pro.product_image)" alt=""></a>
                                                    </td>
                                                    <td class="product-name"><a href="#">@pro.product_name </a></td>
                                                    <td class="product-price-cart"><span class="amount">@pro.price</span></td>
                                                    <td class="product-quantity">
                                                        <div class="pro-dec-cart">
                                                            <input class="cart-plus-minus-box" type="text" value="@item.c_qty" name="qtybutton">
                                                        </div>
                                                    </td>
                                                    <td class="product-subtotal">@amount</td>
                                                    @*<td class="product-remove">

                                                        <a href="@Url.Action("removecart","frontend",new { id = item.c_id })"><i class="fa fa-times"></i></a>
                                                    </td>*@
                                                </tr>

                                            }
                                        }
                                        total += amount;
                                        <tr>
                                            <td> </td>
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="cart-shiping-update-wrapper">
                                    <div class="cart-shiping-update">
                                        <a href="#">Continue Shopping</a>
                                    </div>
                                    <div class="cart-clear">
                                        @*<button>Update Shopping Cart</button>
                                        <a href="@Url.Action("removeall","frontend")">Clear Shopping Cart</a>*@
                                    </div>
                                </div>
                            </div>
                        </div>

                    </form>
                    <div class="row">

                        <div class="col-lg-4 col-md-12">
                            <div class="grand-totall">


                                <h4 class="grand-totall-title">Grand Total  <span>Rs.@total</span></h4>
                                <a href="@Url.Action("order","frontend",new { amountt = total })">Proceed to Checkout</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>



